<body>
  <div *ngIf="!game_started">
    <div *ngIf="end_screen">
      <div id="endinfo">
        <button class="btn" (click)="startGame()">Try Again</button>
        <br>
        <button class="btn" (click)="goToHome()">Home</button>
      </div>
    </div>
    <div *ngIf="!end_screen">
      <p id="title">The Higher or Lower Game</p>
      <div id="homeinfo">
        <button class="btn" (click)="startGame()">Start Game</button>
        <br>
      </div>
      <div id="gamemodes">
        <mat-form-field appearance="fill">
          <mat-select [(value)]="gamemode" placeholder="Select a Gamemode">
            <mat-option [value]="1">All Countries Pop.</mat-option>
            <mat-option [value]="2">UN Countries Pop.</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="fadein">
      <img id="f1" src="assets/images/b_pakistan.jpg" alt=""/>
      <img id="f2" src="assets/images/b_srilanka.jpg" alt=""/>
      <img id="f3" src="assets/images/b_zimbabwe.jpg" alt=""/>
      <img id="f4" src="assets/images/b_jordan.jpg" alt=""/>
      <img id="f5" src="assets/images/b_bahrain.jpg" alt=""/>
      <img id="f6" src="assets/images/b_puertorico.jpg" alt=""/>
      <img id="f7" src="assets/images/b_eritrea.jpg" alt=""/>
      <img id="f8" src="assets/images/b_usa.jpg" alt=""/>
      <img id="f9" src="assets/images/b_bangladesh.jpg" alt=""/>
      <img id="f10" src="assets/images/b_brazil.jpg" alt=""/>
    </div>
  </div>
  <div *ngIf="game_started">
    <div class="scores">
      <div class="max_score">High Score: {{max_score}}</div>
      <div class="current_score">Current Score: {{score}}</div>
    </div>
    <div class="country">
      <div class="prev">
        <div *ngIf="prev_country != undefined">
          <div *ngIf="prev_country!.ratio == 12">
            <img src="{{ prev_country.imageLink }}" alt="" class="i12"/>
          </div>
          <div *ngIf="prev_country!.ratio == 23">
            <img src="{{ prev_country.imageLink }}" alt="" class="i23"/>
          </div>
          <div *ngIf="prev_country!.ratio == 11">
            <img src="{{ prev_country.imageLink }}" alt="" class="i11"/>
          </div>
          <div *ngIf="prev_country!.ratio == 34">
            <img src="{{ prev_country.imageLink }}" alt="" class="i34"/>
          </div>
          <div *ngIf="prev_country!.ratio == 57">
            <img src="{{ prev_country.imageLink }}" alt="" class="i57"/>
          </div>
          <div *ngIf="prev_country!.ratio == 58">
            <img src="{{ prev_country.imageLink }}" alt="" class="i58"/>
          </div>
          <div *ngIf="prev_country!.ratio == 67">
            <img src="{{ prev_country.imageLink }}" alt="" class="i67"/>
          </div>
          <div *ngIf="prev_country!.ratio == 35">
            <img src="{{ prev_country.imageLink }}" alt="" class="i35"/>
          </div>
          <div *ngIf="prev_country!.ratio == 1018">
            <img src="{{ prev_country.imageLink }}" alt="" class="i1018"/>
          </div>
          <div *ngIf="prev_country!.ratio == 1019">
            <img src="{{ prev_country.imageLink }}" alt="" class="i1019"/>
          </div>
          <div *ngIf="prev_country!.ratio == 1128">
            <img src="{{ prev_country.imageLink }}" alt="" class="i1128"/>
          </div>
          <div>{{prev_country.name}} has a population of</div>
          <div class="population">{{prev_country.pop}}</div>
        </div>
      </div>
    </div>
    <div class="country">
      <div class="current">
        <div *ngIf="country != undefined">
          <div *ngIf="country!.ratio == 12">
            <img src="{{ country.imageLink }}" alt="" class="i12"/>
          </div>
          <div *ngIf="country!.ratio == 23">
            <img src="{{ country.imageLink }}" alt="" class="i23"/>
          </div>
          <div *ngIf="country!.ratio == 11">
            <img src="{{ country.imageLink }}" alt="" class="i11"/>
          </div>
          <div *ngIf="country!.ratio == 34">
            <img src="{{ country.imageLink }}" alt="" class="i34"/>
          </div>
          <div *ngIf="country!.ratio == 57">
            <img src="{{ country.imageLink }}" alt="" class="i57"/>
          </div>
          <div *ngIf="country!.ratio == 58">
            <img src="{{ country.imageLink }}" alt="" class="i58"/>
          </div>
          <div *ngIf="country!.ratio == 67">
            <img src="{{ country.imageLink }}" alt="" class="i67"/>
          </div>
          <div *ngIf="country!.ratio == 35">
            <img src="{{ country.imageLink }}" alt="" class="i35"/>
          </div>
          <div *ngIf="country!.ratio == 1018">
            <img src="{{ country.imageLink }}" alt="" class="i1018"/>
          </div>
          <div *ngIf="country!.ratio == 1019">
            <img src="{{ country.imageLink }}" alt="" class="i1019"/>
          </div>
          <div *ngIf="country!.ratio == 1128">
            <img src="{{ country.imageLink }}" alt="" class="i1128"/>
          </div>
          <div>Does {{country.name}} have a </div>
          <button (click)="check(true)">Higher</button> or
          <button (click)="check(false)">Lower</button> population
        </div>
      </div>
    </div>
  </div>
</body>
