body {
  color: white;
}

.fadein img {
  position:absolute;
  top: -48px;
  left: 0;
  width: 1536px;
  height: 760px;
  object-fit: fill;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 65s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 65s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  10% {opacity: 1;}
  30% {opacity: 1;}
  40% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  10% {opacity: 1;}
  30% {opacity: 1;}
  40% {opacity: 0;}
  100% {opacity: 0;}
}

#f1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#f2 {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
#f3 {
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}
#f4 {
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
}
#f5 {
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
}
#f6 {
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
}
#f7 {
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
}
#f8 {
  -webkit-animation-delay: -35s;
  animation-delay: -35s;
}
#f9 {
  -webkit-animation-delay: -40s;
  animation-delay: -40s;
}
#f10 {
  -webkit-animation-delay: -45s;
  animation-delay: -45s;
}

.btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;
  color: white;
  background-color: black;
  border: 0 solid white;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

#title {
  z-index: 1000;
  position: absolute;
  right: 7.3%;
  top: 67%;
}

#endinfo {
  z-index: 1000;
  position: absolute;
  right: 10%;
  top: 80%;
}

#homeinfo {
  z-index: 1000;
  position: absolute;
  right: 10%;
  top: 75%;
}

#gamemodes {
  background-color: black;
  border: 0 solid white;
  color: white;
  z-index: 1000;
  position: absolute;
  right: 7.5%;
  top: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .75em;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#gamemodes:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.i23 {
  width: 450px;
  height: 300px;
}

.i11 {
  width: 300px;
  height: 300px;
}

.i12 {
  width: 600px;
  height: 300px;
}

.i34 {
  width: 400px;
  height: 300px;
}

.i57 {
  width: 420px;
  height: 300px;
}

.i67 {
  width: 350px;
  height: 300px;
}

.i58 {
  width: 480px;
  height: 300px;
}

.i35 {
  width: 500px;
  height: 300px;
}

.i1018 {
  width: 540px;
  height: 300px;
}

.i1019 {
  width: 570px;
  height: 300px;
}

.i1128 {
  width: 700px;
  height: 275px;
}

.country {
  text-align: center;
}

.prev {
  position: absolute;
  left: 10%;
}

.current {
  position: absolute;
  right: 10%;
}
