<body>
  <div *ngIf="!game_started">
    <button (click)="startGame()">Start Game</button>   Max Score: {{max_score}}
    <div class="fadein">
      <img id="f1" src="assets/images/b_pakistan.jpg" alt=""/>
      <img id="f2" src="assets/images/b_srilanka.jpg" alt=""/>
      <img id="f3" src="assets/images/b_zimbabwe.jpg" alt=""/>
      <img id="f4" src="assets/images/b_jordan.jpg" alt=""/>
      <img id="f5" src="assets/images/b_bahrain.jpg" alt=""/>
      <img id="f6" src="assets/images/b_puertorico.jpg" alt=""/>
      <img id="f7" src="assets/images/b_eritrea.jpg" alt=""/>
      <img id="f8" src="assets/images/b_usa.jpg" alt=""/>
      <img id="f9" src="assets/images/b_bangladesh.jpg" alt=""/>
      <img id="f10" src="assets/images/b_brazil.jpg" alt=""/>
    </div>
  </div>
  <div *ngIf="game_started">
    <div class="scores">
      <div class="max_score">Max Score: {{max_score}}</div>
      <div class="current_score">Current Score: {{score}}</div>
    </div>
    <div class="country">
      <div class="prev">
        <div *ngIf="prev_country != undefined">
          <img src="{{ prev_country.imageLink }}" alt="" class="img"/>
          <div>{{prev_country.name}} has a population of</div>
          <div class="population">{{prev_country.pop}}</div>
        </div>
      </div>
    </div>
    <div class="country">
      <div class="current">
        <div *ngIf="country != undefined">
          <img src="{{ country.imageLink }}" alt="" class="img"/>
          <div>Does {{country.name}} have a </div>
          <button (click)="check(true)">Higher</button> or
          <button (click)="check(false)">Lower</button> population
        </div>
      </div>
    </div>
  </div>
</body>
